<div class="">
  <div class="f-sa">
    <mat-form-field class="" [formGroup]="weaponForm">
      <mat-label>Faction</mat-label>
      <mat-select formControlName="wFaction">
        <mat-option *ngFor="let operative of allData" [value]="operative">
          {{ operative.factionname }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="" [formGroup]="weaponForm">
      <mat-label>Kill team</mat-label>
      <mat-select formControlName="wKillTeam">
        <mat-option *ngFor="let killteam of weaponForm.get('wFaction')?.value?.killteams" [value]="killteam">
          {{ killteam.killteamname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<div style="justify-content: center;width: 100%; margin-top: 3em;">
  <h2 style="text-align: center;">Add an operative</h2>
</div>



  <div class="f-sa" >
    <mat-form-field class="" [formGroup]="weaponForm">
      <mat-label>Operative</mat-label>
      <mat-select formControlName="wOperative">
        <mat-option
          *ngFor="let operative of operatives"
          [value]="operative"
        >
          {{ operative.opname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
