<div class="" style="margin-top: 1em">
  <div>
    <mat-card style=" padding: 1em">
      <div class="f-sa">
        <mat-form-field class="p-1">
          <mat-label>Width</mat-label>
          <input
            matInput
            type="number"
            placeholder="Width"
            [(ngModel)]="card.width"
          />
        </mat-form-field>
        <mat-form-field class="p-1">
          <mat-label>Height</mat-label>
          <input
            matInput
            type="number"
            min="100"
            placeholder="Height"
            [(ngModel)]="card.height"
          />
        </mat-form-field>
        <mat-form-field class="p-1">
          <mat-label>Card type</mat-label>
          <mat-select
          placeholder="Card type"
          [(ngModel)]="dual"
          >
          <mat-option [value]="false">
            Single
          </mat-option>
          <mat-option [value]="true">
            Dual
          </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <app-operative-selection
        [card]="card"
        [ploys]="ploys"
        (ployEmitter)="changePloy($event)"
      ></app-operative-selection>
    </mat-card>
  </div>
  <!-- FIRST CARD OPERATIVE -->
  <div
  style="margin-top: 1em; display: flex; justify-content: center;"
  >
    <mat-card style="width: 100%; height: 100%;padding: 1em"
    [ngStyle]="{ width: card.width + 'px', height: card.height + 'px' }"
    >
      <app-main-stats [card]="card"></app-main-stats>
      <app-abilities-notes [card]="card" [dual]="dual" *ngIf="!dual"></app-abilities-notes>
    </mat-card>
  </div>
  <!-- SECOND CARD OPERATIVE -->
  <div
  style="margin-top: 1em; display: flex; justify-content: center;"
  *ngIf="dual"
  >
    <mat-card style="width: 100%; height: 100%;padding: 1em"
    [ngStyle]="{ width: card.width + 'px', height: card.height + 'px' }"
    >
    <app-abilities-notes [card]="card" [dual]="dual" ></app-abilities-notes>
    </mat-card>
  </div>

  <!-- OPERATIVE SELECT -->


  <div class="f-sa" style="margin-top: 1em">
    <div style="margin-top: 1em; justify-content: center">
      <mat-card style="height: 600px; width: 450px; padding: 1em">
        <app-ploy-card [card]="card"></app-ploy-card>
      </mat-card>
    </div>
    <div style="margin-left: 1em">
      <mat-card style="height: 600px; width: 450px; padding: 1em">
        <!-- <app-main-stats-form [card]="card"></app-main-stats-form>
    <app-weapon-form [card]="card"></app-weapon-form> -->
        <app-ploy-selection
          [card]="card"
          [ploys]="ploys"
          (ployEmitter)="changePloySelect($event)"
        ></app-ploy-selection>
      </mat-card>
    </div>
  </div>
</div>
