<div class="text-center o-name">
  <h1 class="p-2">{{ card.name === "" ? "Operative Name" : card.name }}</h1>
</div>
<div #stats style="font-size: 1.8em; width: 100%;" class="f-s-b">
  <span class="text-center w-100 o-stats">
    <div>M</div>
    <div>{{ card.movement }}</div>
  </span>
  <span class="text-center w-100 o-stats">
    <div>APL</div>
    <div>{{ card.APL }}</div>
  </span>
  <span class="text-center w-100 o-stats">
    <div>GA</div>
    <div>
      {{ card.GA }}
    </div>
  </span>
  <span class="text-center w-100 o-stats">
    <div>DF</div>
    <div>
      {{ card.DF }}
    </div>
  </span>
  <span class="text-center w-100 o-stats">
    <div>SV</div>
    <div>{{ card.save }}</div>
  </span>
  <span class="text-center w-100 o-stats">
    <div>W</div>
    <div>
      {{ card.wounds }}
    </div>
  </span>
</div>

<!-- WEAPONS -->
<div #weapons style="margin-top: 1em">
  <ng-container *ngFor="let item of card.weapons">
    <div class="weapon-item" *ngIf="item.profiles.length > 0">
      <div class="weapon-header">
        <img class="weapon-type" [src]="item.weptype === 'M' ? '/assets/pics/weptypeM.png' : '/assets/pics/weptypeR.png'" alt="Weapon Type" />
        <span class="weapon-name">{{ item.wepname }}</span>
      </div>
      <div class="weapon-profiles" *ngFor="let prof of item.profiles">
        <div class="weapon-profile">
          <span class="weapon-profile-name">{{ prof.name }}</span>
          <span class="weapon-profile-value">{{ prof.A }}</span>
          <span class="weapon-profile-value">{{ prof.BS }}</span>
          <span class="weapon-profile-value">{{ prof.D }}</span>
          <span class="weapon-profile-sr" *ngIf="prof.SR"><span [innerHTML]="prof.SR | symReplace"></span></span>
        </div>
      </div>
    </div>
  </ng-container>
</div>



